.device-wrapper {
  max-width: 300px;
  width: 100%;
}
.device {
  position: relative;
  background-size: cover;
}
.device .screen {
  position: absolute;
  background-size: cover;
  background-image: url(https://static.pexels.com/photos/50594/sea-bay-waterfront-beach-50594.jpeg);
}
.device[data-device="iphone5"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 210.29023746701844%;
  background-image: url("../device-mockups/iphone5/portrait_black.png");
}
.device[data-device="iphone5"][data-orientation="portrait"][data-color="black"] .screen {
  top: 14.805520702634881%;
  left: 8.179419525065963%;
  width: 84.43271767810026%;
  height: 71.267252195734%;
}
.device[data-device="iphone5"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 210.29023746701844%;
  background-image: url("../device-mockups/iphone5/portrait_white.png");
}
.device[data-device="iphone5"][data-orientation="portrait"][data-color="white"] .screen {
  top: 14.805520702634881%;
  left: 8.179419525065963%;
  width: 84.43271767810026%;
  height: 71.267252195734%;
}
.device[data-device="iphone5"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 47.68170426065163%;
  background-image: url("../device-mockups/iphone5/landscape_black.png");
}
.device[data-device="iphone5"][data-orientation="landscape"][data-color="black"] .screen {
  top: 7.490144546649145%;
  left: 14.786967418546364%;
  width: 71.30325814536342%;
  height: 84.23127463863338%;
}
.device[data-device="iphone5"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 47.68170426065163%;
  background-image: url("../device-mockups/iphone5/landscape_white.png");
}
.device[data-device="iphone5"][data-orientation="landscape"][data-color="white"] .screen {
  top: 7.490144546649145%;
  left: 14.786967418546364%;
  width: 71.30325814536342%;
  height: 84.23127463863338%;
}
.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 51.41800246609125%;
  background-image: url("../device-mockups/galaxyS3/landscape_black.png");
}
.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="black"] .screen {
  top: 7.074340527577938%;
  left: 9.3711467324291%;
  width: 78.91491985203453%;
  height: 86.33093525179856%;
}
.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 51.41800246609125%;
  background-image: url("../device-mockups/galaxyS3/landscape_white.png");
}
.device[data-device="galaxyS3"][data-orientation="landscape"][data-color="white"] .screen {
  top: 7.074340527577938%;
  left: 9.3711467324291%;
  width: 78.91491985203453%;
  height: 86.33093525179856%;
}
.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 194.7178871548619%;
  background-image: url("../device-mockups/galaxyS3/portrait_black.png");
}
.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="black"] .screen {
  top: 9.67940813810111%;
  left: 6.602641056422569%;
  width: 86.31452581032413%;
  height: 78.91491985203453%;
}
.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 194.7178871548619%;
  background-image: url("../device-mockups/galaxyS3/portrait_white.png");
}
.device[data-device="galaxyS3"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.3711467324291%;
  left: 6.602641056422569%;
  width: 86.31452581032413%;
  height: 78.91491985203453%;
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 193.9837398373984%;
  background-image: url("../device-mockups/galaxyS5/portrait_black.png");
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="black"] .screen {
  top: 9.80720871751886%;
  left: 6.097560975609756%;
  width: 87.8048780487805%;
  height: 80.4694048616932%;
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 193.9837398373984%;
  background-image: url("../device-mockups/galaxyS5/portrait_white.png");
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.80720871751886%;
  left: 6.097560975609756%;
  width: 87.8048780487805%;
  height: 80.4694048616932%;
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 193.9837398373984%;
  background-image: url("../device-mockups/galaxyS5/portrait_gold.png");
}
.device[data-device="galaxyS5"][data-orientation="portrait"][data-color="gold"] .screen {
  top: 9.80720871751886%;
  left: 6.097560975609756%;
  width: 87.8048780487805%;
  height: 80.4694048616932%;
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 51.55071248952222%;
  background-image: url("../device-mockups/galaxyS5/landscape_black.png");
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="black"] .screen {
  top: 6.097560975609756%;
  left: 9.80720871751886%;
  width: 80.4694048616932%;
  height: 87.8048780487805%;
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 51.55071248952222%;
  background-image: url("../device-mockups/galaxyS5/landscape_white.png");
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="white"] .screen {
  top: 6.097560975609756%;
  left: 9.80720871751886%;
  width: 80.4694048616932%;
  height: 87.8048780487805%;
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 51.55071248952222%;
  background-image: url("../device-mockups/galaxyS5/landscape_gold.png");
}
.device[data-device="galaxyS5"][data-orientation="landscape"][data-color="gold"] .screen {
  top: 6.097560975609756%;
  left: 9.80720871751886%;
  width: 80.4694048616932%;
  height: 87.8048780487805%;
}
.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 168.33616298811543%;
  background-image: url("../device-mockups/galaxyTab4/portrait_black.png");
}
.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="black"] .screen {
  top: 8.572869389813414%;
  left: 5.68760611205433%;
  width: 87.94567062818336%;
  height: 83.00554715078164%;
}
.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 168.33616298811543%;
  background-image: url("../device-mockups/galaxyTab4/portrait_white.png");
}
.device[data-device="galaxyTab4"][data-orientation="portrait"][data-color="white"] .screen {
  top: 8.522440746343923%;
  left: 5.68760611205433%;
  width: 87.94567062818336%;
  height: 83.05597579425114%;
}
.device[data-device="iMac"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 80.46663049376018%;
  background-image: url("../device-mockups/iMac/portrait_black.png");
}
.device[data-device="iMac"][data-orientation="portrait"][data-color="black"] .screen {
  top: 5.057316250842886%;
  left: 4.0694519804666305%;
  width: 91.86109603906674%;
  height: 64.19420094403236%;
}
.device[data-device="iPad"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 129.56989247311827%;
  background-image: url("../device-mockups/iPad/portrait_black.png");
}
.device[data-device="iPad"][data-orientation="portrait"][data-color="black"] .screen {
  top: 9.12863070539419%;
  left: 10.304659498207885%;
  width: 79.21146953405018%;
  height: 81.3969571230982%;
}
.device[data-device="iPad"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 129.56989247311827%;
  background-image: url("../device-mockups/iPad/portrait_white.png");
}
.device[data-device="iPad"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.12863070539419%;
  left: 10.483870967741936%;
  width: 79.3010752688172%;
  height: 81.3969571230982%;
}
.device[data-device="iPad"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 77.04011065006915%;
  background-image: url("../device-mockups/iPad/landscape_black.png");
}
.device[data-device="iPad"][data-orientation="landscape"][data-color="black"] .screen {
  top: 10.23339317773788%;
  left: 9.266943291839558%;
  width: 81.32780082987551%;
  height: 79.44344703770197%;
}
.device[data-device="iPad"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 77.04011065006915%;
  background-image: url("../device-mockups/iPad/landscape_white.png");
}
.device[data-device="iPad"][data-orientation="landscape"][data-color="white"] .screen {
  top: 10.23339317773788%;
  left: 9.266943291839558%;
  width: 81.32780082987551%;
  height: 79.44344703770197%;
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 141.3929784824462%;
  background-image: url("../device-mockups/iPadAir2/portrait_black.png");
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="black"] .screen {
  top: 9.090909090909092%;
  left: 6.455266138165346%;
  width: 86.9762174405436%;
  height: 82.01842210652784%;
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 141.3929784824462%;
  background-image: url("../device-mockups/iPadAir2/portrait_white.png");
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="white"] .screen {
  top: 9.090909090909092%;
  left: 6.455266138165346%;
  width: 86.9762174405436%;
  height: 82.01842210652784%;
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 141.3929784824462%;
  background-image: url("../device-mockups/iPadAir2/portrait_gold.png");
}
.device[data-device="iPadAir2"][data-orientation="portrait"][data-color="gold"] .screen {
  top: 9.090909090909092%;
  left: 6.455266138165346%;
  width: 86.9762174405436%;
  height: 82.01842210652784%;
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 70.72486984381257%;
  background-image: url("../device-mockups/iPadAir2/landscape_black.png");
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="black"] .screen {
  top: 6.5685164212910525%;
  left: 9.090909090909092%;
  width: 82.01842210652784%;
  height: 86.9762174405436%;
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 70.72486984381257%;
  background-image: url("../device-mockups/iPadAir2/landscape_white.png");
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="white"] .screen {
  top: 6.5685164212910525%;
  left: 9.090909090909092%;
  width: 82.01842210652784%;
  height: 86.9762174405436%;
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 70.72486984381257%;
  background-image: url("../device-mockups/iPadAir2/landscape_gold.png");
}
.device[data-device="iPadAir2"][data-orientation="landscape"][data-color="gold"] .screen {
  top: 6.5685164212910525%;
  left: 9.090909090909092%;
  width: 82.01842210652784%;
  height: 86.9762174405436%;
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 138.62249346120313%;
  background-image: url("../device-mockups/iPadPro/portrait_black.png");
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="black"] .screen {
  top: 7.044025157232705%;
  left: 5.361813426329555%;
  width: 89.23278116826503%;
  height: 85.9119496855346%;
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 138.62249346120313%;
  background-image: url("../device-mockups/iPadPro/portrait_white.png");
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="white"] .screen {
  top: 7.044025157232705%;
  left: 5.361813426329555%;
  width: 89.23278116826503%;
  height: 85.9119496855346%;
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 138.62249346120313%;
  background-image: url("../device-mockups/iPadPro/portrait_gold.png");
}
.device[data-device="iPadPro"][data-orientation="portrait"][data-color="gold"] .screen {
  top: 7.0754716981132075%;
  left: 5.361813426329555%;
  width: 89.23278116826503%;
  height: 85.88050314465409%;
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 72.13836477987421%;
  background-image: url("../device-mockups/iPadPro/landscape_black.png");
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="black"] .screen {
  top: 5.405405405405405%;
  left: 7.044025157232705%;
  width: 85.9119496855346%;
  height: 89.23278116826503%;
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 72.13836477987421%;
  background-image: url("../device-mockups/iPadPro/landscape_white.png");
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="white"] .screen {
  top: 5.405405405405405%;
  left: 7.044025157232705%;
  width: 85.9119496855346%;
  height: 89.23278116826503%;
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 72.1471235460547%;
  background-image: url("../device-mockups/iPadPro/landscape_gold.png");
}
.device[data-device="iPadPro"][data-orientation="landscape"][data-color="gold"] .screen {
  top: 5.403050108932462%;
  left: 7.073247406475951%;
  width: 85.88494184218798%;
  height: 89.23747276688452%;
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"] {
  padding-bottom: 207.620164126612%;
  background-image: url("../device-mockups/iPhone6/portrait_black.png");
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="black"] .screen {
  top: 12.25296442687747%;
  left: 6.096131301289566%;
  width: 88.042203985932%;
  height: 75.32467532467533%;
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"] {
  padding-bottom: 207.620164126612%;
  background-image: url("../device-mockups/iPhone6/portrait_white.png");
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="white"] .screen {
  top: 12.25296442687747%;
  left: 6.096131301289566%;
  width: 88.042203985932%;
  height: 75.32467532467533%;
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"] {
  padding-bottom: 207.620164126612%;
  background-image: url("../device-mockups/iPhone6/portrait_gold.png");
}
.device[data-device="iPhone6"][data-orientation="portrait"][data-color="gold"] .screen {
  top: 12.25296442687747%;
  left: 6.096131301289566%;
  width: 88.042203985932%;
  height: 75.32467532467533%;
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"] {
  padding-bottom: 48.164878599661215%;
  background-image: url("../device-mockups/iPhone6/landscape_black.png");
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="black"] .screen {
  top: 5.861664712778429%;
  left: 12.309429700734048%;
  width: 75.26821005081875%;
  height: 87.92497069167644%;
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"] {
  padding-bottom: 48.164878599661215%;
  background-image: url("../device-mockups/iPhone6/landscape_white.png");
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="white"] .screen {
  top: 5.861664712778429%;
  left: 12.309429700734048%;
  width: 75.26821005081875%;
  height: 87.92497069167644%;
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"] {
  padding-bottom: 48.164878599661215%;
  background-image: url("../device-mockups/iPhone6/landscape_gold.png");
}
.device[data-device="iPhone6"][data-orientation="landscape"][data-color="gold"] .screen {
  top: 5.861664712778429%;
  left: 12.309429700734048%;
  width: 75.26821005081875%;
  height: 87.92497069167644%;
}
